header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 50px;
}
nav ul li a{
    text-decoration: none;
}
h1{
    text-align: center;
}
.grid_projectslower{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.arrow1, .arrow2, .arrow3, .arrow4{
    max-width: 10%;
    max-height: 10%;
}
@media(min-width:800px){
.grid_projectsupper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
}