/*COLOURS AND FONTS*/
body{
    background-color: #EFEFEF;
}

header{
    color: #31312F;
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;     
}
a{
    color: #31312F;
    text-decoration: none;
}
p{
    color: #31312F;
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}
h4{
    color: #F5F5EF;
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #31312F;
    text-align: center;
    padding: 40px;
    margin-bottom: 50px;

}
.firsthalf{
    color: #31312F;
}
.secondhalf{
    color: #FCC9F7;
}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.secondhalf2{
    color: #FCC9F7;
}
.web, .ux, .animation, .indhold{
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #31312F;
}
h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #FCC9F7;
    background-color: #31312F;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    
}
.link_tema2 a{
    color: #F5F5EF;
}